doctype html
html(lang='en')
  head
    meta(name='author', content='Emeraude')
    meta(charset='utf-8')
    meta(name='description' content='A simple free url shortener')
    title Shorten - URL shortener
    link(rel='stylesheet', href='/style.css')
    script(src='/jquery-1.11.1.min.js')
    script(src='/spin.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/shorten.js')
  body
    form#short
      div
        input(id='url', type='text', placeholder='Enter a link to shorten', autofocus)
        input(type='submit', value='Go!')
    #shortened