body {
    width: 100%;
    height: 100%;
}

form#short {
    position: fixed;
    top: 0;
    right: 25%;
    left: 25%;
    bottom: 90%;
}

form#short > div {
    width: 100%;
    height: 100%;
    position: relative;
    border: 1px solid grey;
    border-top: 0px solid transparent;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

form#short > div > input {
    position: absolute;
    top: 0;
    font-size: 2em;
    height: 100%;
    border: solid 0px transparent;
}

form#short > div > input[type=submit] {
    right: 0;
    border-bottom-right-radius: 10px;
    background-color: #f50;
    color: white;
    cursor: pointer;
    min-width: 12%;
}

form#short > div > input[type=text] {
    left: 0;
    width: 100%;
    border-bottom-left-radius: 10px;
    background-color: transparent;
}

div#shortened {
    margin-top: 5%;
    font-size: 1.5em;
}

div#shortened > div {
    height: 50px;
    position: relative;
}