body {
    width: 100%;
    height: 100%;
}

form#short {
    position: fixed;
    top: 0;
    right: 25%;
    left: 25%;
    bottom: 90%;
    z-index: 1;
}

form#short > div {
    width: 100%;
    height: 100%;
    position: relative;
    border: 1px solid grey;
    border-top: 0px solid transparent;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

form#short > div > input {
    position: absolute;
    top: 0;
    font-size: 2em;
    height: 100%;
    border: solid 0px transparent;
}

form#short > div > input[type=submit] {
    right: 0;
    border-bottom-right-radius: 10px;
    background-color: #f50;
    color: white;
    cursor: pointer;
    min-width: 12%;
}

form#short > div > input[type=text] {
    left: 0;
    width: 100%;
    border-bottom-left-radius: 10px;
    background-color: transparent;
}

div#shortened {
    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
}

div#shortened > p {
    width: 100%;
    height: 50px;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
}

div#shortened > p + p {
    border-top: 1px solid #aaa;
}

div#shortened > p > a {
    text-decoration: none;
    color: #f50;
    font-weight: bolder;
}

div#shortened > p > a + br + span.original {
    padding-left: 50px;
}